CSteamworks.bundle
CSteamworks.dll
Internals
KSP.app
KSP.log
Launcher.app
Logs
MiniAVC.log
PartDatabase.cfg
Parts
Physics.cfg
PluginData
Plugins
Resources
Screenshots
buildID.txt
libCSteamworks.so
libsteam_api.so
readme.txt
settings.cfg
sounds
steam_api.dll
steam_api64.dll
thumbs
.DS_Store
